<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="articleSharingApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="articleSharingApp.comment.content">Content</span></dt>
                <dd>
                    <span>{{comment.content}}</span>
                </dd>
                <dt><span jhiTranslate="articleSharingApp.comment.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{comment.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="articleSharingApp.comment.modificationDate">Modification Date</span></dt>
                <dd>
                    <span>{{comment.modificationDate}}</span>
                </dd>
                <dt><span jhiTranslate="articleSharingApp.comment.user">User</span></dt>
                <dd>
                    {{comment.userLogin}}
                </dd>
                <dt><span jhiTranslate="articleSharingApp.comment.article">Article</span></dt>
                <dd>
                    <div *ngIf="comment.articleId">
                        <a [routerLink]="['/article', comment.articleId, 'view']">{{comment.articleId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
